.footer {
  margin-top: auto;
}

.footer-pt {
  padding-top: 64px;
  padding-bottom: 64px;
}

.footer-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 24px;
}

.footer-media-wrapper {
  max-width: 372px;
}

.footer-logo {
  max-width: 90px;
  max-height: 26px;
}

.footer-description {
  margin-block: 24px 44px;
  line-height: var(--line-height-1_625);
}

.footer-social-media-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-link-title {
  margin-bottom: 26px;
}

.footer-link {
  color: var(--white-60);
  transition: all 0.3s ease-in-out;
}

.footer-link:hover {
  color: var(--white);
}

.footer-link:not(:last-child) {
  margin-bottom: 10px;
}

.footer-form {
  max-width: 347px;
}

.footer-input-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}
