:root {
  --black: #000000;
  --black-80: #000000cc;
  --black-100: #04040e;
  --black-200: #05050e;
  --black-300: #17171f;
  --dark-gunmetal: #212328;
  --white: #ffffff;
  --white-1: #ffffff03;
  --white-2: #ffffff05;
  --white-4: #ffffff0a;
  --white-6: #ffffff0f;
  --white-7: #ffffff12;
  --white-8: #ffffff14;
  --white-9: #ffffff17;
  --white-10: #ffffff1a;
  --white-12: #ffffff1f;
  --white-16: #ffffff29;
  --white-20: #ffffff33;
  --white-24: #ffffff3d;
  --white-27: #ffffff45;
  --white-32: #ffffff52;
  --white-50: #ffffff80;
  --white-52: #ffffff85;
  --white-60: #ffffff99;
  --white-72: #ffffffb8;
  --white-80: #ffffffcc;
  --primary: #f0f0f0;
  --pelati: #ff3337;
  --pelati-100: #ef282c;
  --pelati-200: #ee272b;
  --pelati-300: #fd3134;
  --pelati-400: #f02828;
  --pelati-1: #ff333703;
  --pelati-8: #ff333714;
  --pelati-12: #ff33371f;
  --pelati-16: #ff333729;
  --pelati-20: #ff333733;
  --pelati-24: #ff33373d;
  --pelati-25: #ff333740;
  --pelati-40: #ff333766;
  --pelati-60: #ff3337a1;
  --obsidian: #07011308;
  --transparent: transparent;
  --line-height-1: 1;
  --line-height-1_1: 1.1;
  --line-height-1_333: 1.333;
  --line-height-1_041: 1.041;
  --line-height-1_08: 1.08;
  --line-height-1_388: 1.388;
  --line-height-1_444: 1.444;
  --line-height-1_215: 1.215;
  --line-height-1_428: 1.428;
  --line-height-1_5: 1.5;
  --line-height-1_562: 1.562;
  --line-height-1_625: 1.625;
  --line-height-1_642: 1.642;
  --line-height-1_714: 1.714;
  --line-height-1_857: 1.857;
  --font-family-inter: "Inter", sans-serif;
  --font-family-britti-sans: "Britti Sans Trial", sans-serif;
  --border: 1px solid;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-primary {
  color: #ff3337;
}

.text-secondary {
  color: var(--white-72);
}

.text-gradient {
  background: linear-gradient(180deg, #ff3337 0%, #ce1215 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ----- Background Glow ----- */
.background-glow {
  width: 100%;
  height: 399px;
  position: absolute;
  top: 870px;
  left: 0;
  z-index: -1;
  background-color: var(--pelati-400);
  filter: blur(622.7px);
}

body {
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--black-100);
  color: var(--white);
  font-family: var(--font-family-inter);
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

header,
section,
footer {
  padding-inline: 30px;
}

@media (max-width: 991px) {
  header,
  section,
  footer {
    padding-inline: 20px;
  }
}

@media (max-width: 767px) {
  header,
  section,
  footer {
    padding-inline: 16px;
  }
}

.section-spacing {
  padding-block: 80px;
}

@media (max-width: 991px) {
  .section-spacing {
    padding-block: 54px;
  }
}

@media (max-width: 767px) {
  .section-spacing {
    padding-block: 40px;
  }
}

.section-spacing-top-0 {
  padding-top: 0;
}

.section-spacing-bottom-0 {
  padding-bottom: 0;
}

.section-border {
  border-block: var(--border) var(--black-300);
}

.section-border-top-none {
  border-top: none;
}

.section-border-bottom-none {
  border-bottom: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
}

.container:not(:where(.container-saping-0)),
.container-inline-spacing {
  padding-inline: 30px;
}

.container:not(:where(.container-outline-hide)) {
  border-inline: var(--border) var(--white-8);
}

@media (max-width: 991px) {
  .container:not(:where(.container-saping-0)),
  .container-inline-spacing {
    padding-inline: 20px;
  }
}

@media (max-width: 767px) {
  .container:not(:where(.container-saping-0)),
  .container-inline-spacing {
    padding-inline: 16px;
  }
}

@media (max-width: 575px) {
  .container:not(:where(.container-saping-0)),
  .container-inline-spacing {
    padding-inline: 12px;
  }
}

.section-mark-top::before,
.section-mark-top::after,
.section-mark-bottom::before,
.section-mark-bottom::after {
  content: "";
  width: 2px;
  aspect-ratio: 1;
  position: absolute;
  background-color: var(--pelati);
}

.section-mark-top::before,
.section-mark-top::after {
  top: -1px;
}

.section-mark-bottom::before,
.section-mark-bottom::after {
  bottom: -1px;
}

.section-mark-top::before,
.section-mark-bottom::before {
  left: -1px;
}

.section-mark-top::after,
.section-mark-bottom::after {
  right: -1px;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul,
ol {
  list-style-type: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: var(--transparent);
  border: none;
  cursor: pointer;
  color: inherit;
}

input {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background-color: var(--transparent);
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin-inline: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.text-uppercase {
  text-transform: uppercase;
}

.cursor-pointer {
  cursor: pointer;
}

.border-none {
  border: none;
}

.display-block {
  display: block;
}

.relative {
  position: relative;
}

.flex-shrink {
  flex-shrink: 0;
}

.border-bottom {
  border-bottom: var(--border) var(--white-8);
}

.border-all {
  border: var(--border) var(--white-8);
}

.max-w-max {
  max-width: max-content;
}

.full-size {
  width: 100%;
  height: 100%;
}

.section-head {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section-head-center {
  align-items: center;
  text-align: center;
}

.section-head-start {
  align-items: start;
}

.section-caption {
  max-width: max-content;
  font-size: 14px;
  line-height: var(--line-height-1);
  color: var(--white-32);
  padding: 10px 20px;
  border: var(--border);
  border-inline-color: var(--white);
  border-block-color: var(--white-24);
  filter: blur(4)
    drop-shadow(
      0 0.5px 0.5px 0 var(--obsidian),
      0 1px 1px -0.5px var(--obsidian),
      0 2px 2px -1px var(--obsidian),
      0 3px 3px -1.5px var(--obsidian),
      0 5px 5px -2.5px var(--obsidian),
      0 8px 8px -3px var(--obsidian)
    );
  box-shadow:
    inset 0 8px 24px -4px var(--white-4),
    inset 0 0.5px 0.5px 0px var(--white-2),
    inset 0 1px 2px -0.5px var(--white-2);
  background-color: var(--white-2);
}

.head-description {
  line-height: var(--line-height-1_625);
}

.head-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .section-head {
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .section-head {
    gap: 16px;
  }

  .head-description {
    font-size: 14px;
  }
}

/* ----- Font Size ----- */
.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  line-height: var(--line-height-1_1);
  font-family: var(--font-family-britti-sans);
}

.h1,
h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
  font-size: 60px;
  font-weight: 600;
  letter-spacing: -2px;
}

@media (max-width: 991px) {
  .h1,
  h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .h1,
  h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
    font-size: 40px;
  }
}

@media (max-width: 575px) {
  .h1,
  h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
    font-size: 36px;
  }
}

.h2,
h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
  font-size: 52px;
  font-weight: 600;
  letter-spacing: -2px;
}

@media (max-width: 991px) {
  .h2,
  h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
    font-size: 42px;
  }
}

@media (max-width: 767px) {
  .h2,
  h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
    font-size: 36px;
  }
}

.h3,
h3:not(:where(.h1, .h2, .h4, .h5, .h6)) {
  font-size: 40px;
  font-weight: 600;
}

@media (max-width: 991px) {
  .h3,
  h3:not(:where(.h1, .h2, .h4, .h5, .h6)) {
    font-size: 38px;
  }
}

@media (max-width: 767px) {
  .h3,
  h3:not(:where(.h1, .h2, .h4, .h5, .h6)) {
    font-size: 32px;
  }
}

.h4,
h4:not(:where(.h1, .h2, .h3, .h5, .h6)) {
  font-size: 36px;
  font-weight: 600;
}

@media (max-width: 991px) {
  .h4,
  h4:not(:where(.h1, .h2, .h3, .h5, .h6)) {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .h4,
  h4:not(:where(.h1, .h2, .h3, .h5, .h6)) {
    font-size: 28px;
  }
}

.h5,
h5:not(:where(.h1, .h2, .h3, .h4, .h6)) {
  font-size: 32px;
  font-weight: 600;
}

@media (max-width: 991px) {
  .h5,
  h5:not(:where(.h1, .h2, .h3, .h4, .h6)) {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .h5,
  h5:not(:where(.h1, .h2, .h3, .h4, .h6)) {
    font-size: 24px;
  }
}

.h6,
h6:not(:where(.h1, .h2, .h3, .h4, .h5)) {
  font-size: 28px;
  line-height: 1;
  font-weight: 600;
}

@media (max-width: 991px) {
  .h6,
  h6:not(:where(.h1, .h2, .h3, .h4, .h5)) {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .h6,
  h6:not(:where(.h1, .h2, .h3, .h4, .h5)) {
    font-size: 20px;
  }
}

/* ----- Slider Button Default Css ----- */
.splide__arrow {
  background: transparent;
  border-radius: 0;
  height: auto;
  opacity: 1;
  transform: translate(0);
  top: auto;
  bottom: 0;
}

.splide__arrow svg {
  fill: none;
  width: auto;
  height: auto;
}

.splide.is-focus-in .splide__arrow:focus {
  outline: none;
}

.splide__arrow:disabled {
  opacity: 0.6;
  pointer-events: none;
}

/* ----- Button Css ----- */
.btn {
  max-width: max-content;
  position: relative;
}

.btn-small {
  padding: 2px;
}

.btn-big {
  padding: 4px;
}

.btn-content {
  border: var(--border);
  filter: blur(4)
    drop-shadow(
      0 0.5px 0.5px 0 var(--obsidian),
      0 1px 1px -0.5px var(--obsidian),
      0 2px 2px -1px var(--obsidian),
      0 3px 3px -1.5px var(--obsidian),
      0 5px 5px -2.5px var(--obsidian),
      0 8px 8px -3px var(--obsidian)
    );
}

.btn-small-py {
  padding-block: 4px;
}

.btn-small-px {
  padding-inline: 12px;
}

.btn-big-py {
  padding-block: 8px;
}

.btn-big-px {
  padding-inline: 16px;
}

.btn-content span {
  height: 22px;
  aspect-ratio: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pelati);
}

.btn::before,
.btn::after,
.btn-content::before,
.btn-content::after,
.icon-corner-shape::before,
.icon-corner-shape::after,
.icon-corner-shape-content::before,
.icon-corner-shape-content::after {
  content: "";
  position: absolute;
  width: 8px;
  aspect-ratio: 1;
  transition: all 0.3s ease-in-out;
}

.btn::before,
.btn-content::before,
.icon-corner-shape::before,
.icon-corner-shape-content::before {
  top: 0;
  border-top: var(--border) var(--pelati);
}

.btn::after,
.btn-content::after,
.icon-corner-shape::after,
.icon-corner-shape-content::after {
  bottom: 0;
  border-bottom: var(--border) var(--pelati);
}

.btn::before,
.btn::after,
.icon-corner-shape::before,
.icon-corner-shape::after {
  left: 0;
  border-left: var(--border) var(--pelati);
}

.btn-content::before,
.btn-content::after,
.icon-corner-shape-content::before,
.icon-corner-shape-content::after {
  right: 0;
  border-right: var(--border) var(--pelati);
}

.btn:is(:hover) {
  &.btn::before,
  .btn-content::before,
  .btn-content::after,
  &.btn::after {
    transform: translate(0, 0);
  }
}

.btn-small {
  &.btn::before {
    transform: translate(2px, 2px);
  }

  .btn-content::before {
    transform: translate(-2px, 2px);
  }

  .btn-content::after {
    transform: translate(-2px, -2px);
  }

  &.btn::after {
    transform: translate(2px, -2px);
  }
}

.btn-big {
  &.btn::before {
    transform: translate(4px, 4px);
  }

  .btn-content::before {
    transform: translate(-4px, 4px);
  }

  .btn-content::after {
    transform: translate(-4px, -4px);
  }

  &.btn::after {
    transform: translate(4px, -4px);
  }
}

.icon-corner-shape::before,
.icon-corner-shape::after,
.icon-corner-shape-content::before,
.icon-corner-shape-content::after {
  border-color: var(--pelati-60);
  opacity: 0;
}

.icon-btn:hover {
  &.icon-corner-shape::before,
  .icon-corner-shape-content::before,
  &.icon-corner-shape::after,
  .icon-corner-shape-content::after {
    opacity: 1;
  }

  &.icon-corner-shape::before {
    transform: translate(-2px, -2px);
  }

  .icon-corner-shape-content::before {
    transform: translate(2px, -2px);
  }

  &.icon-corner-shape::after {
    transform: translate(-2px, 2px);
  }

  .icon-corner-shape-content::after {
    transform: translate(2px, 2px);
  }
}

.btn-primary {
  border-color: var(--pelati);
  background-color: var(--pelati);
  box-shadow:
    inset 0 8px 24px -4px var(--pelati-16),
    inset 0 0.5px 0.5px 0 var(--pelati-16),
    inset 0 1px 2px -0.5px var(--pelati-12);
}

.btn-primary-gradient {
  background-color: var(--pelati-12);
  border-color: var(--pelati-24);
  box-shadow:
    inset 0 8px 24px -4px var(--pelati-16),
    inset 0 0.5px 0.5px 0 var(--pelati-16),
    inset 0 1px 2px -0.5px var(--pelati-12);
}

.btn-secondary {
  background-color: var(--white-12);
  border-color: var(--white-24);
  box-shadow:
    inset 0 8px 24px -4px var(--white-16),
    inset 0 0.5px 0.5px 0 var(--white-16),
    inset 0 1px 2px -0.5px var(--white-12);
}

.btn:has(.btn-secondary) {
  &.btn::before,
  &.btn::after,
  .btn-content::before,
  .btn-content::after {
    border-color: var(--white);
  }
}

.icon-btn {
  width: 40px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.icon-btn-small {
  width: 32px;
}

.icon-btn-big {
  width: 46px;
}

.icon-btn .icon-btn-content,
.icon-btn-content {
  width: 25%;
  height: 100%;
}

.icon-btn .icon-btn-icon {
  width: 100%;
  height: 100%;
}

.icon-btn-primary {
  color: var(--white);
  background-color: var(--pelati-20);
  filter: blur(4)
    drop-shadow(
      0 0.5px 0.5px 0 var(--obsidian),
      0 1px 1px -0.5px var(--obsidian),
      0 2px 2px -1px var(--obsidian),
      0 3px 3px -1.5px var(--obsidian),
      0 5px 5px -2.5px var(--obsidian),
      0 8px 8px -3px var(--obsidian)
    );
  box-shadow:
    inset 0 8px 24px -4px var(--pelati-16),
    inset 0 0.5px 0.5px 0px var(--pelati-16),
    inset 0 1px 2px -0.5px var(--pelati-12);
}

.icon-btn-secondary,
.icon-secondary-gradient {
  border: var(--border) var(--white-24);
  filter: blur(4)
    drop-shadow(
      0 0.5px 0.5px 0 var(--obsidian),
      0 1px 1px -0.5px var(--obsidian),
      0 2px 2px -1px var(--obsidian),
      0 3px 3px -1.5px var(--obsidian),
      0 5px 5px -2.5px var(--obsidian),
      0 8px 8px -3px var(--obsidian)
    );
  box-shadow:
    inset 0 8px 24px -4px var(--white-4),
    inset 0 0.5px 0.5px 0px var(--white-2),
    inset 0 1px 2px -0.5px var(--white-2);
}

.icon-btn-secondary:hover {
  border-color: var(--white-52);
  filter: blur(4)
    drop-shadow(
      0 0.5px 0.5px 0 var(--white-80),
      0 1px 1px -0.5px var(--white-80),
      0 2px 2px -1px var(--white-80),
      0 3px 3px -1.5px var(--white-80),
      0 5px 5px -2.5px var(--white-80),
      0 8px 8px -3px var(--white-80)
    );
  box-shadow:
    inset 0 8px 24px -4px var(--white-12),
    inset 0 0.5px 0.5px 0px var(--white-12),
    inset 0 1px 2px -0.5px var(--white-12);
}

@media (max-width: 991px) {
  .icon-btn-small {
    width: 28px;
  }

  .icon-btn-big {
    width: 42px;
  }
}

@media (max-width: 767px) {
  .btn::before,
  .btn::after,
  .btn-content::before,
  .btn-content::after {
    width: 6px;
  }

  .btn-content span {
    display: none;
  }

  .icon-btn {
    width: 36px;
  }

  .icon-btn-small {
    width: 26px;
  }

  .icon-btn-big {
    width: 38px;
  }
}

@media (max-width: 575px) {
  .icon-btn {
    width: 36px;
  }

  .icon-btn {
    width: 32px;
  }

  .icon-btn-small {
    width: 24px;
  }

  .icon-btn-big {
    width: 32px;
  }
}

/* ----- Inputs Css ----- */
.input-stack {
  width: 100%;
  position: relative;
}

.input-field {
  border: var(--border) var(--white-24);
  line-height: var(--line-height-1_5);
  color: var(--white);
  filter: blur(4)
    drop-shadow(
      0 0.5px 0.5px 0 var(--obsidian),
      0 1px 1px -0.5px var(--obsidian),
      0 2px 2px -1px var(--obsidian),
      0 3px 3px -1.5px var(--obsidian),
      0 5px 5px -2.5px var(--obsidian),
      0 8px 8px -3px var(--obsidian)
    );
  box-shadow:
    inset 0 8px 24px -4px var(--white-4),
    inset 0 0.5px 0.5px 0px var(--white-2),
    inset 0 1px 2px -0.5px var(--white-2);
  background-color: var(--white-2);
  padding: 8px 12px;
}

.input-field:focus {
  outline: none;
}

.input-overlay {
  width: 100%;
  max-width: 36px;
  height: 100%;
  border-left: var(--border) var(--white);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.input-overlay:is(:where(.input-field):focus ~ *) {
  opacity: 1;
}

.input-field::placeholder {
  color: var(--white-24);
}
