.nice-select {
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  border: var(--border) var(--white-8);
  line-height: var(--line-height-1_5);
  color: var(--white-24);
  padding: 8px 12px;
  background-color: var(--black-200);
  display: block;
  outline: none;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.nice-select:hover,
.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border-color: var(--white);
}

.nice-select:after {
  content: "";
  width: 5px;
  height: 5px;
  border-bottom: 2px solid var(--white-30);
  border-right: 2px solid var(--white-30);
  display: block;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nice-select.open:after {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.nice-select .list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 12px;
  margin-top: 4px;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--black-200);
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  transform: translateY(-15px);
  transition: all 0.3s ease-in-out;
  z-index: 9;
}

.nice-select.open .list {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

.nice-select .option {
  cursor: pointer;
  list-style: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.nice-select .option.selected,
.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .current {
  color: var(--white);
}

.nice-select .option.disabled {
  cursor: default;
}

.nice-select:has(.option.selected.disabled) .current {
  color: var(--white-24);
}
