/* ----- Hero Section ----- */
.hero-section {
  border-bottom: var(--border-1) var(--border-solid) var(--white-8);
}

.hero-section-spacing {
  padding-block: 82px 66px;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
}

/* .hero-title::before {
  content: "";
  width: 2px;
  min-height: 60px;
  position: absolute;
  top: 82px;
  left: 0;
  transform: translateX(-50%);
  background-color: var(--pelati);
} */

.hero-content {
  width: 57%;
  max-width: 670px;
}

.hero-description {
  max-width: 620px;
  margin-block: 20px 40px;
  line-height: var(--line-height-1_625);
}

.hero-img-content {
  width: 43%;
  max-width: 516px;
}

.hero-img {
  min-height: 368px;
}

/* ----- Our Clients Section ----- */
.clients-section-spacing {
  padding-top: 40px;
}

.our-clients-bg-gradient {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  background-color: var(--pelati-400);
  filter: blur(622.7px);
}

.our-clients-label {
  background-color: var(--pelati-300);
  padding-inline: 4px;
  font-size: 14px;
  line-height: var(--line-height-1_714);
  position: absolute;
  top: 0;
  left: 30px;
  transform: translateY(-50%);
}

.logo-showcase-slider::before,
.logo-showcase-slider:after {
  /* content: ""; */
  width: 100%;
  max-width: 150px;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.logo-showcase-slider::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(26, 8, 16, 0.95) 20%,
    rgba(26, 8, 16, 0.7) 45%,
    rgba(26, 8, 16, 0.3) 75%,
    transparent 100%
  );
}

.logo-showcase-slider:after {
  right: 0;
  background: linear-gradient(to left, var(--black) 0%, var(--transparent) 100%);
}

.logo-showcase-slide {
  display: inline-flex;
}

.logo-showcase-content {
  display: flex;
  align-items: center;
}

.logo-showcase-img {
  max-width: 138px;
}

.clients-site-showcase {
  margin-top: 68px;
}

.clients-site-track {
  padding-left: 30px !important;
}

.clients-site-slide {
  max-width: 492px;
}

.clients-site-block {
  border: var(--border-1) var(--border-solid) var(--pelati-40);
}

.clients-site-info {
  padding: 12px;
  font-size: 12px;
  line-height: var(--line-height-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  border-top: var(--border-1) var(--border-solid) var(--pelati-40);
  filter: blur(72)
    drop-shadow(
      0 0.5px 0.5px 0 var(--obsidian),
      0 1px 1px -0.5px var(--obsidian),
      0 2px 2px -1px var(--obsidian),
      0 3px 3px -1.5px var(--obsidian),
      0 5px 5px -2.5px var(--obsidian),
      0 8px 8px -3px var(--obsidian)
    );
  box-shadow:
    inset 0 8px 24px -4px var(--pelati-16),
    inset 0 0.5px 0.5px 0px var(--pelati-16),
    inset 0 1px 2px -0.5px var(--pelati-12);
}

.clients-site-img-content {
  aspect-ratio: 1 / 0.552;
}

.clients-site-wrapper {
  display: none;
}

/* ----- How We Work Section ----- */
.process-flow-head-description {
  max-width: 745px;
  line-height: var(--line-height-1_625);
}

.process-flow-wrapper {
  display: flex;
  background-color: var(--black-200);
}

.process-flow-content-list {
  width: 50%;
  max-width: 634px;
}

.process-flow-caption {
  margin-bottom: 16px;
  line-height: var(--line-height-1);
  font-weight: 400;
  color: var(--white-32);
}

.process-flow-item-description {
  overflow: hidden;
  font-size: 18px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .process-flow-item {
    padding: 24px 20px 28px 24px;
    border-bottom: var(--border-1) var(--border-solid) var(--white-10);
    border-inline: var(--border-0_5) var(--border-solid) var(--transparent);
    position: relative;
    transition: all 0.3s ease-in-out;
  }

  .process-flow-item:nth-child(1) {
    border-top: var(--border-1) var(--border-solid) var(--white-10);
  }

  .process-flow-item.active {
    border-color: var(--pelati-24);
    background-color: var(--pelati-12);
    filter: blur(4)
      drop-shadow(
        0 0.5px 0.5px 0 var(--obsidian),
        0 1px 1px -0.5px var(--obsidian),
        0 2px 2px -1px var(--obsidian),
        0 3px 3px -1.5px var(--obsidian),
        0 5px 5px -2.5px var(--obsidian),
        0 8px 8px -3px var(--obsidian)
      );
    box-shadow:
      inset 0 8px 24px -4px var(--pelati-16),
      inset 0 0.5px 0.5px 0px var(--pelati-16),
      inset 0 1px 2px -0.5px var(--pelati-12);
  }

  .process-flow-item-detail-block {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.3s ease-in-out;
  }

  .process-flow-item.active .process-flow-item-detail-block {
    grid-template-rows: 1fr;
    margin-top: 12px;
  }

  .process-flow-time-line {
    width: 100%;
    height: 6px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  .process-flow-item.active .process-flow-time-line {
    opacity: 1;
    visibility: visible;
  }

  .process-flow-time-line-effect {
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 51, 55, 0) 0%, rgba(255, 51, 55, 1) 100%);
    animation: timelineProgress 10s linear forwards;
  }

  @keyframes timelineProgress {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
}

.process-flow-img-content {
  width: 52%;
  max-width: 646px;
  border: var(--border-1) var(--border-solid) var(--white-10);
  aspect-ratio: 1 / 1;
}

.process-flow-item-icon {
  display: none;
}

/* ----- Partners Showcase Section ----- */
.partners-showcase-section {
  border-block: var(--border-1) var(--border-solid) var(--black-300);
}

.partners-showcase-description {
  max-width: 778px;
}

.partners-showcase-slider {
  margin-top: 44px;
}

.partners-brand-logo {
  max-width: 190px;
}
